version: "3.9"

services:
  vpn:
    image: boingbasti/nordvpn-gateway:latest
    container_name: nordvpn
    cap_add:
      - NET_ADMIN
      - NET_RAW
    devices:
      - /dev/net/tun
    volumes:
      - ./nordvpn_token.txt:/run/secrets/nordvpn_token:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - VPN_COUNTRY=Germany
      - VPN_GROUP=p2p
      - VPN_AUTO_CONNECT=best
      - VPN_MTU=auto
      - VPN_TECHNOLOGY=NordLynx
      - KILLSWITCH=on
      - POST_QUANTUM=on
      - DEBUG=off
    restart: unless-stopped

  socks5:
    image: boingbasti/nordvpn-socks5:latest
    container_name: nordvpn-socks5
    network_mode: "service:vpn"
    environment:
      - PROXY_PORT=1080
      - ALLOWED_IPS=0.0.0.0/0
    restart: unless-stopped
